.plant-card {
    transition: box-shadow .3s;
}
.plant-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
    width: 15vw; /* note i used vw not px for better responsive */
    height: 15vw;
}

.custom-circle-image img {
    object-fit: cover;
}

.no-style {
    text-decoration: none !important;
    color: inherit;
}
.no-style:hover {
    color: inherit;
}

.myjumbotron {
    padding: 2rem 2rem;
    border-radius: 0 !important;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
#content-desktop {display: none;}
#content-mobile {display: block;}
}

.asteriskField {
    display: none;
}
