{% extends "journal/base.html" %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            This page could not be found...
        </div>
        <div class="row mb-2">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:center">
                <h1>404 Page Not Found :(</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mb-2">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:center">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}