{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- End Bootstrap CSS -->

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'journal/main.css' %}">
    <!-- End My CSS -->
    <link rel="shortcut icon" href="{% static 'journal/favicon.ico' type='image/x-icon' %}">

    {% if title %}
    <title>Plantly - {{ title }}</title>
    {% else %}
    <title>Plantly</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
      </ul>
      {% if user.is_authenticated %}
        <span class="navbar-text mr-2">
          <a href="{% url 'profile' %}">Profile</a>
        </span>
        <span class="navbar-text mr-2">
          |
        </span>
        <span class="navbar-text mr-2">
          <a href="{% url 'logout' %}">Logout</a>
        </span>
      {% else %}
        <span class="navbar-text mr-2">
          <a href="{% url 'login' %}">Login</a>
        </span>
        <span class="navbar-text mr-2">
          |
        </span>
        <span class="navbar-text">
          <a href="{% url 'register' %}">Register</a>
        </span>
      {% endif %}
  </nav>
  <main>
      <div class="jumbotron text-center text-black myjumbotron" style="background-color:#87d13f !important;">
        <h1 class="display-3"><span class="Plantly"><span class="leafy">&#127793;</span><a href="/" style="color:inherit;text-decoration:none;">Plantly</a></span></h1>
        <p>A personal plant journal</p>
        <p>
          {% if user.is_authenticated %}
          <a class="btn btn-dark btn-md" href="{% url 'plant-create' %}">Add a Plant</a>
          {% else %}
          <a class="btn btn-dark btn-md" href="#" role="button" data-toggle="modal" data-target="#addPlantModal">Add a Plant</a>
          {% endif %}
        </p>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      {% block content %}
      {% endblock %}

      <!-- Modal Warning for Add Plant button-->
      <div class="modal fade bd-example-modal-sm" id="addPlantModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="exampleModalLabel">Add a Plant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              You must create an account or login to create a plant.
          </div>
        </div>
      </div>
      <!-- End Modal for Add Plant button-->
  </main>

  <footer class="container">
      <hr>
      <p class="text-muted">© Dana Brannon</p>
  </footer>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- End Optional Bootstrap JavaScript -->
</body>
</html>