{% extends "journal/base.html" %}
{% load my_tags %}
{% block content %}
  {% if user.is_authenticated %}
  {% else %}
    <div class="container">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> You can <a href="{% url 'login' %}" class="alert-link">login</a> or <a href="{% url 'register' %}" class="alert-link">register</a> to view your own plants -- or just view Dana's below!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endif %}
  <div class="container" id="content-desktop">
    <div class="row">
      {% for plant in plants %}
        <div class="col-md-3">
          <a class="no-style" href="{% url 'plant-detail' plant.id %}">
            <div class="card mb-5">
              <img class="card-img-top" src="{{ plant.image.url }}" alt="{{ plant.name }}">
              <div class="card-body">
                <h5 class="card-title text-center">{{ plant.name }}</h5>
                <p class="card-text">Location: {{ plant.location }}
                  {% if plant.is_past_due %}
                    <br>Last Watered: <span class="text-danger">{{ plant.last_watered|timesince|upto:',' }} ago</span>
                  {% elif plant.is_due %}
                    <br>Last Watered: <span class="text-warning">{{ plant.last_watered|timesince|upto:',' }} ago</span>
                  {% elif plant.watered_today %}
                    <br>Last Watered: <span class="text-success">Today</span>
                  {% else %}
                    <br>Last Watered: {{ plant.last_watered|timesince|upto:',' }} ago
                  {% endif %}
                  <br>Bought: {{ plant.bought|date:"F j, Y" }}
                </p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container" id="content-mobile">
    <div class="row" id="content-mobile">
      <div class="col-12">
        <table class="table table-image table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Plant</th>
              <th scope="col">Watered</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            {% for plant in plants %}
              <tr>
                <td class="w-25">
                  <a href="{% url 'plant-detail' plant.id %}"><img src="{{ plant.image.url }}" class="img-fluid rounded" alt="{{ plant.name }}">
                  </a>
                </td>
                <td><a class="no-style no-hover" href="{% url 'plant-detail' plant.id %}">{{ plant.name }}</a></td>
                {% if plant.is_past_due %}
                  <td class="text-danger"><a class="no-style no-hover" href="{% url 'plant-detail' plant.id %}">{{ plant.last_watered|timesince|upto:',' }} ago</a></td>
                {% elif plant.is_due %}
                  <td class="text-warning"><a class="no-style no-hover" href="{% url 'plant-detail' plant.id %}">{{ plant.last_watered|timesince|upto:',' }} ago</a></td>
                {% elif plant.watered_today %}
                  <td class="text-success"><a class="no-style no-hover" href="{% url 'plant-detail' plant.id %}">Today</a></td>
                {% else %}
                  <td class="text"><a class="no-style no-hover" href="{% url 'plant-detail' plant.id %}">{{ plant.last_watered|timesince|upto:',' }} ago</a></td>
                {% endif %}
                <td>{{ plant.location }}</td>
              
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}