{% extends "journal/base.html" %}
{% block content %}
    <div class="container mb-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            You have been successfully logged out.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            <small class="text-muted">
                Want to log back in? Click <a href="{% url 'login' %}">here</a>.
            </small>
        </div>
    </div>
{% endblock content %}
