{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- End Bootstrap CSS -->

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'journal/main.css' %}">
    <!-- End My CSS -->

    {% if title %}
    <title>Plantly - {{ title }}</title>
    {% else %}
    <title>Plantly</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
      </ul>
      {% if user.is_authenticated %}
        <span class="navbar-text mr-2">
          <a href="{% url 'profile' %}">Profile</a>
        </span>
        <span class="navbar-text mr-2">
          |
        </span>
        <span class="navbar-text mr-2">
          <a href="{% url 'logout' %}">Logout</a>
        </span>
      {% else %}
        <span class="navbar-text mr-2">
          <a href="{% url 'login' %}">Login</a>
        </span>
        <span class="navbar-text mr-2">
          |
        </span>
        <span class="navbar-text">
          <a href="{% url 'register' %}">Register</a>
        </span>
      {% endif %}
  </nav>
    <main>
        <div class="jumbotron text-center text-black" style="background-color:#87d13f !important;">
          <h1 class="display-3"><a href="/" style="color:inherit">&#127793;Plantly</a></h1>
          <p>A personal plant journal</p>
          <p>
            <a class="btn btn-dark btn-md" href="#" role="button" data-toggle="modal" data-target="#addPlantModal">Add a Plant</a>
          </p>
        </div>
        <div class="container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>

        <!-- Modal for Add Plant button-->
        <div class="modal fade" id="addPlantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add a Plant</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="inputPlantName">Name of Plant</label>
                    <input type="text" class="form-control" id="inputPlantName" aria-describedby="nameHelp" >
                    <small id="nameHelp" class="form-text text-muted">Ex. Philodendron Brasil</small>
                  </div>
                  <div class="form-group">
                    <label for="inputLocation">Location</label>
                    <input type="text" class="form-control" id="inputLocation" aria-describedby="locationHelp" >
                    <small id="locationHelp" class="form-text text-muted">Ex. Living Room</small>
                  </div>
                  <div class="form-group">
                    <label for="inputDateBought">Date Acquired</label>
                    <input type="text" class="form-control" id="inputDateBought" placeholder="XX/XX/XX">
                  </div>
                  <div class="form-group">
                    <label for="inputPlantNotes">Notes</label>
                    <textarea class="form-control" id="inputPlantNotes" rows="3"></textarea>
                    <small id="notesHelp" class="form-text text-muted">Ex. Likes bright indirect light, Repotted 2/13/19</small>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">Add Plant</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal for Add Plant button-->
    </main>

    <footer class="container">
        <hr>
        <p>© 2020 Dana Brannon</p>
    </footer>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- End Optional Bootstrap JavaScript -->
</body>
</html>